.navbar__contenedor {
    display: flex;
    margin: 0% auto;
    justify-content: center;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff00;
    min-width: fit-content;
    position: static;
    top: 0px;
    left: 0px;
    width: fit-content;
    margin: 10px;
    border-color: #565656;
}

.navbar__item a {

    color: #000000;
    text-decoration: none;
    padding: 0px;
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
}

.navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 40px;
}

.navbar__item {
    padding: 0;
}