.main,
.input_main {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  min-width: min-content;
  width: auto;
  height: fit-content;
  align-items: center;
  text-align: left;
  background-image: url('/dark_calypso.png');
  /*background: #a3c9dd;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #a8a8a8;
}
.main .icon {
  width: 15vw;
  border-radius: 50%;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #000000;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
}
.main input[type="text"] {
  padding: 10px 10px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 20vw;
  border: 1px solid #10a37f;
  border-radius: 20px;
  margin-bottom: 0px;
  outline-color: #10a37f;
}
.main input[type="user"] {
  padding: 10px 10px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 20vw;
  border: 1px solid #10a37f;
  border-radius: 20px;
  margin-bottom: 0px;
  outline-color: #10a37f;
}
.main input[type="email"] {
  padding: 10px 10px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 20vw;
  border: 1px solid #10a37f;
  border-radius: 20px;
  margin-bottom: 0px;
  outline-color: #10a37f;
}
.main ::placeholder {
  color: #6b6b6b;
  opacity: 1;
}
.contenedor{
  display: grid;
  justify-content: center;
  align-items: center;

}
.gen_res{
  color: rgb(255, 255, 255);
  text-align: center;
  width: fit-content;  
  margin: 10px;
  padding: 10px;
  background-color: #3ae1accb;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gen_res_naranjo{
  color: rgb(255, 255, 255);
  text-align: center;
  width: fit-content;  
  margin: 10px;
  padding: 10px;
  background-color: #e1773acb;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.result {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  font-weight: bold;
  flex-direction: column;
  font-size: 18px;
  height: fit-content;
  line-height: 20px;
  margin-top: 10px;
  max-width: 300px;
  min-height: 25px;
  padding: 25px;
  width: 100%;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw;
  height: 5vh;
  border-radius: 20px;
}
.btn_reset{
  padding: 10px;
  margin: 25px;
  color: #ffffff;
  background-color: #db2110c7;
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.navbar__contenedor{
  margin: 0% auto;
  display: flex;
  justify-content: center;
}
.navbar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #2eb7e1;
  min-width: fit-content;
  position: static;
  top: 0px;
  left: 0px;
  width: fit-content;
  border: 2px;
  border-radius: 15px;
  border-style: outset;
  border-color: #00b3ff;
  margin: 10px;
}
.navbar__item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0px;
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
}
.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 40px;
}
.navbar__item {
  margin: 0;
  padding: 0;
}
.correo{
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {


.input_main {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;;
}

.main input[type="text"] {
  font-family: Arial, Helvetica, sans-serif;
  width: 80vw;
  height: 20px;
  border: 1px solid #10a37f;
  border-radius: 20px;
  margin-bottom: 10px;

  outline-color: #10a37f;
}

.gen_res{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #3ae1accb;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  height: fit-content;
  text-align: center;
  width: fit-content;  
  cursor: pointer;
  padding: 10px;
  border: none;
  margin: 10px;
  margin: auto;
  
}

}